.navbar {
    display: flex;
    width: 100%;
    background-color: darkslategray;
    grid-area: "nav";

    &__logo img {
      display: flex;
      justify-content: left;
      width: 64px;
      height: 64px;
    }
  }
  
  