.window {
  height: 100%;
  .rabbit {
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.navbar {
  display: flex;
  width: 100%;
  background-color: darkslategray;
  grid-area: "nav";
  &__logo img {
    display: flex;
    justify-content: left;
    width: 64px;
    height: 64px;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

.content {
  position: relative;
  height: 800px;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  display: grid;
  grid-template-columns: 4fr 0.1fr 4fr;
  grid-template-areas: "dialog divide info";
  height: 800px;
}

.divider {
  grid-area: "divide";
  height: 800px;
}

.dialog {
  grid-area: "dialog";
  max-height: 800px;
}

.info {
  text-align: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 36px;
    font:bold;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  p {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1px;
    opacity: 0.5;
    padding-bottom: 5px;
  }
}

.contacts {
  text-align: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 36px;
    font:bold;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  p {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1px;
    opacity: 0.5;
    padding-bottom: 5px;
  }
}

.view {
  height: 800px;
  grid-area: "info";
}

.projects {
  .block {
    padding: 0 !important;
    height: 800px !important;
  }
  section {
    height: 265px;
  }
  border: 1px solid #ececec;
  border-radius: 3px;
  height: 800px;
  max-width: 751px;

  .tools {
    padding:0;
    list-style: none;
  }
  .tools li{
    padding:5px;
    cursor:pointer;
  }
  .tools li:before {
    padding-right: 9px;
    font-weight: bold;
    color: #6f6c6c;
    content: "\2714";
    transition-duration: 0.4s;
  }
  .tools li:hover:before {
    color: #2369a5;
    content: "\2714";
  }
}

