.content {
  position: relative;
  height: 90%;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  //display: grid;
  //grid-template-columns: 49.5% 1% 49.5%;
  //grid-template-areas: "dialog divide info";
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .block {
    width: 49.5% !important;
    @media (max-width: 768px) {
      width: 100% !important;
      height: 70% !important;
      max-height: 30% !important;
    }
  }

  .view {
    height: 100%;
    //grid-area: "info";
    width: 49.5%;
    @media (max-width: 768px) {
      width: 100%;
    }
    overflow: hidden;
    .block {
      padding: 1%;
    }
    .empty {
      align-items: center;
      height: 100%;
      display: flex;
      border: 1px solid #ececec;
      justify-content: center;
      text-align: "center";
    }
  }
}
