.content {
    position: relative;
    height: 800px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    display: grid;
    grid-template-columns: 49.5% 1% 49.5%;
    grid-template-areas: "dialog divide info";
    height: 800px;
  }
  
  .divider {
    grid-area: "divide";
    height: 800px;
  }
  
  
  
  
  
  .view {
    height: 800px;
    grid-area: "info";
    .block {
      padding: 45px;
    }
  }