.dialog {
    //grid-area: "dialog";

    max-height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
      -ms-overflow-scrolling: touch;
      -o-overflow-scrolling: touch;
    padding: 5%;
  }
  
  .dialog::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  .dialog::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba(0,0,0,0.5);
  }